.plank {
	background-color: brown;
	position: relative;
	z-index: 1;
	transform-origin: center;
	top: 100%;
	transition-duration: 600ms;
}

.pivot {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 24px solid black;
	position: absolute;
	pointer-events: none;
}

.ghost {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: blueviolet;
	position: absolute;
	pointer-events: none;
}

.new-obj {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: blueviolet;
	position: absolute;
	z-index: 2;
	pointer-events: none;
}

.clickable-area {
	padding-top: 200px;
	background-color: aqua;
	position: relative;
	width: fit-content;
}
