.plank {
	background-color: brown;
	position: relative;
	z-index: 1;
	transform-origin: center;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.pivot {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 24px solid black;

	position: relative;
	top: 0;
	left: 50%;
}

.new-ball {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: blueviolet;
	position: absolute;
}

.new-obj {
	border-radius: 100%;
	background-color: blueviolet;
	position: absolute;
	z-index: 2;
}

.clickable-area {
	padding-top: 100px;
	background-color: aqua;
	position: relative;
	width: fit-content;
}
